<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>803631904012-ffim2ifdimm0sj68hboru9pjceampch3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHovgSeHvbK_TYKCSPCiFmbs5Rs9wIuL8</string>
	<key>GCM_SENDER_ID</key>
	<string>803631904012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icoresoft.kstore</string>
	<key>PROJECT_ID</key>
	<string>kstore-3d1bc</string>
	<key>STORAGE_BUCKET</key>
	<string>kstore-3d1bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803631904012:ios:90a8e183a32f9ae54c4529</string>
</dict>
</plist>